@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Azonix";
  src: url("../public/fonts/Azonix.otf");
}

@font-face {
  font-family: "Product Sans";
  src: url("../public/fonts/Product_Sans_Regular.ttf");
}

@font-face {
  font-family: "Product Sans";
  src: url("../public/fonts/Product_Sans_Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Product Sans";
  src: url("../public/fonts/Product_Sans_Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Product Sans";
  src: url("../public/fonts/Product_Sans_Bold_Italic.ttf");
  font-style: italic;
  font-weight: bold;
}

* {
  font-family: Poppins;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

html {
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e096ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d981ff;
}
